.header{
    font-size:16px;
    height:80px;
    background-color: white;
    color:blue;
}

.head_element{
    float:left;
    padding: 30px 85px;
}

.main{
    clear:left;
}

.game{
    font-size:100px;
    text-align:center;
    padding: 0px 0px 50px 0px;
}