.main{
    color:white;
}

#user_image{
	border-radius: 50%;  /*角を丸くする指定*/
	width: 80px;
	height: 80px;
	float:left;
}

.edit_profile{
    background-color: white;
    border-bottom: solid 2px #003aff;
    border-right: solid 2px #003aff;
    border-radius: 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    display: inline-block; 
    float:left;
    margin:20px 0px 0px 20px;  
}

.name{
    font-size:25px;
    clear: left;
}

.profile{
    border: solid 1px #eeeeee;
}

.each_post{
    border: solid 1px #eeeeee;
}

.back{
    background-color: white;
    border-bottom: solid 2px #003aff;
    border-right: solid 2px #003aff;
    border-radius: 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    margin-top:30px;
    margin-bottom:30px;
    display: inline-block; 
}